<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">

    <h1>Об авторе</h1>
    <p>Путинцев Андрей создал эту страницу для выполнения учебного задания</p>
    <h1>Работа сайта</h1>
    <p>На главной странице выберите условия для требуемого пароля и нажмите кнопку генерации</p>
    <p><a href="{% url 'home' %}"><---Вернуться на главную</a></p>
    </div>

</body>
</html>